@import './../../../../app-mixins';
@import './../../../../app-colors';

.sensor-list {
  @include list-style;

  &__table {

    .mat-column-enabled,
    .mat-column-name,
    .mat-column-slug,
    .mat-column-org-type {
      @include column-style(9rem);
    }

    .mat-column-edit {
      @include column-style(6.25rem);
      text-align: center;
    }
  }

  &-filter {
    display: flex;
    justify-content: space-between;

    &__input {
      flex-grow: 1;
      margin-right: 1.25rem;

      &:last-child {
        margin-right: 0;
      }
    }

    @media screen and (max-width: 49rem) {
      flex-direction: column;

      &__input {
        margin-right: 0;
      }
    }
  }
}

.sensor-list__table {
  .mat-column-enabled {
    .mat-icon {
      color: $block-grey-faint;
    }
  }
}
