@import './../../../../app-colors';

h3 {
  margin-bottom: 30px;
}

.tariff-accordion {
  &-add {
    display: flex;
    justify-content: space-between;
    button {
      background: $block-yellow;
      color: $block-grey;
      margin-left: 20px;
      margin-top: 4px;
    }
  }
  mat-form-field {
    width: 100%;
  }
  .tariff-title-wrapper {
    display: flex;
    justify-content: space-between;
    mat-icon {
      margin-top: 20px;
      &:hover {
        cursor: pointer;
        color: $block-red;
      }
    }
  }
}
